<!DOCTYPE html>

<head>

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>



    <meta charset="UTF-8">
    <title>Title </title>
</head>
<body>

{% if context.tracer %}



<div class="col-lg-12 col-md-12 col-sm-12">
        {{ script|safe }}
        {{ div|safe }}
</div>








{% endif %}


<div class="col-lg-12">

    <form action="/change" method="post">

        <select name="x">

            {% for val in context.liste %}

            <option> {{ val }}</option>

            {% endfor %}

        </select>

        <select name="y">

            {% for val in context.liste %}

            <option> {{ val }}</option>

            {% endfor %}

        </select>

        <select name="row_i">

            {% for val in context.rows %}

            <option> {{ val }}</option>

            {% endfor %}

        </select>

        <input type="submit" >

    </form>

</div>


</body>
